body 
{
			padding: 20px; font: 14px/145% "Helvetica Neue", Helvetica, Arial, Sans-serif;					
			background: #ccc;
}
a, a:link, a:visited { text-decoration: none; }

.point {
   position: absolute;
   top:0px;
   left:0px;
   width: 10px;
   height: 10px;
   background-color: #000;
}

#remotePoint {
   background-color: #fff;
}